.map-h {
  height: 96vh;
}

.white-box {
  background-color: rgb(44, 44, 44);
}

.text-color-grey {
  color: rgb(161, 161, 161);
}

.text-fw-bold {
  font-weight: bold;
}

.text-fw-bolder {
  font-weight: bolder;
}

.font-size-2vh {
  font-size: 2vh;
}

.font-size-5vh {
  font-size: 5vh;
}
