<div fxLayout.xs="column" fxLayout.gt-md="row" fxLayoutAlign="start stretch" fxLayoutGap="1vw">
  <!-- Maps -->
  <div fxLayout="row" fxFlex="88%" class="map-h" fxFlexOrder.xs="2">
    <div fxFill id="map"></div>
  </div>

  <!-- Information panel-->
  <div fxLayout="column" fxLayoutAlign="space-between" fxLayoutGap="1vh" fxFlex="12%" fxFlexOrder.xs="1">
    <div class="white-box" fxLayout="column" fxLayoutAlign="space-around" fxFlex="25">
      <p class="text-color-grey text-font text-fw-bolder font-size-5vh">
        {{ totalCases }}
      </p>
      <span class="text-color-grey text-font text-fw-bolder font-size-2vh">Nombre total de cas</span>
    </div>
    <div class="white-box" fxFlex="25" fxLayout="column" fxLayoutAlign="space-around">
      <p class="text-color-grey text-font text-fw-bolder font-size-5vh">
        {{ totalDeaths }}
      </p>
      <span class="text-color-grey text-font text-fw-bolder font-size-2vh">Nombre de morts</span>
    </div>
    <div class="white-box" fxFlex="25" fxLayout="column" fxLayoutAlign="space-around">
      <p class="text-color-grey text-font text-fw-bolder font-size-5vh">
        {{ totalDeathsToday }}
      </p>
      <span class="text-color-grey text-font text-fw-bolder font-size-2vh">Nombre de morts aujourd'hui</span>
    </div>
    <div class="white-box" fxFlex="25" fxLayout="column" fxLayoutAlign="space-around">
      <p class="text-color-grey text-font text-fw-bolder font-size-5vh">
        {{ totalRecovered }}
      </p>
      <span class="text-color-grey text-font text-fw-bolder font-size-2vh">Nombre de guérisons</span>
    </div>
  </div>
</div>
