:host {
  display: flex;
  flex: 1;
}

.mat-sidenav {
  max-width: 10%;
}

.mat-list {
  padding-top: 0;
}

.mat-list-item {
  text-decoration: none;

  &:hover {
    background: rgba(0, 0, 0, 0.05);
  }
}

.menu-button {
  margin-right: 1rem;
}

.container {
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2vh;
  padding-bottom: 2vh;
}
